__tests__/
src/
demo/
coverage/
.codeclimate.yml
.editorconfig
.eslintignore
.eslintrc.js
.travis.yml
bower.json
commitlint.config.js
gulpfile.js
jest.config.js
rollup.config.js
fontIconPicker.zip
cc-test-reporter/
